<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ALLWIN I POWER SYSTEM - Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<html xmlns:th="http://www.thymeleaf.org">

</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container mt-5">
        <h1>Welcome to ALLWIN I POWER SYSTEM</h1>
        <p>Your trusted partner in power solutions and electrical services.</p>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
 